# This is a basic workflow to help you get started with Actions

name: Flights CICD

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  create:
    tags:
      - v*

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Make shell scripts executable
      - name: Make shell scripts executable
        run: chmod +x shell/*.sh

      # Install docker-compose before running make test
      - name: Install docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      # Test the service using the make file
      - name: Run Unit Tests
        run: make test

      # Stop the service before pushing to ducker hub
      - name: Stop containers
        if: always() # This ensures the step runs even if tests fail
        run: make stop

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Push the image to Docker Hub
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/flights:latest
            ${{ secrets.DOCKER_USERNAME }}/flights:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
